@import url('https://fonts.googleapis.com/css?family=Raleway');
$backgroundColor:red;
$basicFont:'Raleway';
//Header
$headerBackground:white;
$headerFontSize:20px;
$menuIconSize:100px;
$menuIconFill:pink;
$showMenuTimer:1s;

//Footer
$footerBackground:white;
$footerFontSize:20px;
$footerFontColor:black;
