@import 'variables.scss';


*,body{
  margin:0;
  padding:0;
  border:none;
  font-weight: 100;
}

body{
  background-color: white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  box-sizing: border-box;
}
hr{
  width:80%;
  margin:0 auto;
  height:1px;
  background-color: $rulerColor;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 25px 0;
  font-weight: 100;
  line-height: 3rem;
  margin: 0 auto;
}
