@import '../variables.scss';

.header{
  background-color: $headerBackground;
  font-size:$headerFontSize;
  width:100vw;
  padding:$headerPaddingTopBottom 10px;
  box-sizing: border-box;
  .main__heading{
    text-indent: -100%;
    visibility: hidden;
    height:0;
    width:0;
  }
  .wrapper{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    #logo{
      display:block;
      width:100%;
      text-align: center;
    }
    #mobile__menu{
      display:block;
      width:100%;
      user-select: none;
      cursor:pointer;
    }
    #navigation{
      height:0;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-2em);
      z-index: -1;
      transition: all 0.3s ease-in-out 0s,height 0.5s linear 0.1s,visibility 0s linear 0.3s, z-index 0s linear 0.01s;
      li{
        text-align: center;
        padding: $menuItemPadding;
        text-transform: lowercase;
        letter-spacing: 3px;
        user-select: none;
        list-style: none;
        cursor:pointer;
        max-width:320px;
        margin:0 auto;
        //The border and transition are set on a pseudo element to prevent transitioning the text and avoid adding markup.
        &:after {
          display:block;
          content: '';
          border-bottom: 2px solid $navigationBorderColor;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          transform-origin:  0% 50%;
        }
        &:hover:after {
          transform: scaleX(1);
        }
      }
      &.show__menu{
        height:$menuHeight;
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s,0s, 0s, 0.3s,0.01s;
      }
    }
  }
}
