@import '../variables.scss';
#about{
  width:100vw;
  background-color: $aboutBackgroundColor;
  text-align: center;
  padding: 11px;
  box-sizing: border-box;
  line-height: 2.5rem;
  font-size: 1.5rem;
  img{
    width: 100%;
    max-width: 955px;
    margin:0 auto;
  }
  .info{
    display: inline-block;
    margin:0 auto;
    font-size: 1.3rem;
    .contact___link,a{
      color:$linkColor;
      display: inline-block;
      text-decoration: underline;
    }
  }
}
