@import '../variables.scss';

#contact {
  background-color: $headerBackground;
  font-size: $headerFontSize;
  width: 100vw;
  padding: $headerPaddingTopBottom 10px;
  box-sizing: border-box;
  text-align: center;
  div{
  margin:0 auto;
  }

  label{
      transition: all .3s linear;
      letter-spacing: 2px;
      color:$contactFontColor;
  }

  #contact__form {
    width: 100%;
    max-width: 1200px;
    margin: -30px auto 0;
    *{
        display: block;
        box-sizing: border-box;
        max-width: 765px;
        width: 100%;
        margin-top: 15px;
    }
    input {
      margin: 10px auto 0;
      padding: 15px 0 15px 45px;
      box-sizing: border-box;
      background-color: $contactInputBackground;
      font-size: 1rem;
      outline: none;
      &:focus{
          background-color: $contactFocusInputBackground;
      }
    }
    textarea{
      outline: none;


    }
    & i{
      margin: 0;
      width: 24px;
      padding-left: 11px;
      transform: translateY(208%);
      color:$contactIconColor;
    }

    #name {
      height:78px;
      .label__name {
        transform: translateY(-212%);//-357%
      }
      .input__name {
        &:focus + .label__name, &:valid + .label__name{
            transform: translateY(-405%);
        }
        &:focus + .label__name, &:valid + .label__name{
            transform: translateY(-405%);
        }
      }
    }

    #email {
      height:78px;
      .label__email {
        transform: translateY(-220%);//-360
      }
      .input__email {
      &:focus + .label__email, &:valid + .label__email{
          transform: translateY(-415%);
      }
      }

    }
    #message{
      height:190px;
      .label__textarea{
        transform: translateY(-670%);
      }
      .message{
        padding: 15px 0 0 45px;
        height:150px;
        font-size: 1rem;
        background-color: $contactInputBackground;
        &:focus{
            background-color: $contactFocusInputBackground;
        }
        &:focus + .label__textarea, &:valid + .label__textarea{
            transform: translateY(-829%);
        }
      }
    }
    #submit__button{
      text-transform: uppercase;
      font-size: 1.5rem;
      border-radius: 50%;
      width: auto;
      text-align: center;
      width: 100px;
      height: 100px;
      padding: 0;
      border: 2px solid black;
      background-color: transparent;
      letter-spacing: 5px;
    }
  }
}
